.pricing-entry {
    width: 100%;
    display: block;
    margin-bottom: 10px;
    background: #fff;
    padding: 30px;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;
}


.pricing-entry .img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
}

.pricing-entry .desc {
    width: calc(100% - 80px);
}

.pricing-entry .text {
    width: 100%;
    display: block;
    position: relative;
    z-index: 0;
}

.pricing-entry .text h3, .pricing-entry .text .h3 {
    width: calc(100% - 80px);
    font-size: 20px;
    font-family: "Nunito", Arial, sans-serif;
    font-weight: 600;
}


.img-cuisine .icon {
    position: absolute;
    top: 50%;
    right: -40px;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 100px;
    height: 120px;
    border-radius: 5px;
    background: rgb(141, 196, 63);
    -webkit-box-shadow: 0px 5px 25px -2px rgba(0, 0, 0, 0.06);
    -moz-box-shadow: 0px 5px 25px -2px rgba(0, 0, 0, 0.06);
    box-shadow: 0px 5px 25px -2px rgba(0, 0, 0, 0.06);
}

.pricing-entry:hover {
    background: #222222;
}

.pricing-entry:hover .text h4, .pricing-entry:hover .text .h4 {
    color: #fff;
}



/* iPad Mini */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (-webkit-min-device-pixel-ratio: 1) {
  
    .heading-section{

        margin-bottom: 0px !important;
    }
}

/* iPad Air */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (-webkit-min-device-pixel-ratio: 2) {
  /* Your CSS for iPad Air here */
}

/* iPad Pro */
@media only screen 
  and (min-device-width: 1024px) 
  and (max-device-width: 1366px) 
  and (-webkit-min-device-pixel-ratio: 2) {
  /* Your CSS for iPad Pro here */
}

/* Surface 7 Pro */
@media only screen 
  and (min-device-width: 1024px) 
  and (max-device-width: 1366px) 
  and (-webkit-min-device-pixel-ratio: 1) {
  /* Your CSS for Surface 7 Pro here */
}
